*, html, body{
  padding: 0;
  margin: 0;
}

.container1{
  background-color: #B8B8B8;
  height: 40px;
  color: #B8B8B8;
}


.container{
  background-color: #EBEBEB;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  
}

.container p{
  margin-top: 20px;
}

.box{
  background-color: #B8B8B8;
  height: 10px;
}
