*,html ,body{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
}
.sc{
  display: flex;
  background-color: #1E90FF;
  margin: auto;
  padding: auto;
  width: 100%;
  height: 40px;
}

.scol{
  display: flex;
  margin-left: 160px;
  margin-top: 10px;
  list-style-type: none;
}

.scol li a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/*paragraf*/

.boxp{
  display: flex;
    background-color: #1E90FF;
  width: 100%;
  height: 300px;
  margin-top: 100px;
  
}

.text1{
  display: flex;
  background-color: #306EFF;
  width: 350px;
  height: 130px;
  margin-left: 18px;
  margin-top: 110px;
  border-radius: 10px;
  position: absolute;
  
}

.text1 h1{
  display: flex;
  color: white;
  padding: 10px;
  font-size: 20px;
  
}

.text1 p{
  display: flex;
  font-size: 12px;
  color: white;
  margin-top: 40px;
  margin-left: -90px;
}

.boxp h2{
 padding: 10px;
 margin-top: 10px;
 color: white;
}

.text1 img{
  display: flex;
  margin-top: 28px;
  border-radius: 100px;
  margin-left: 20px;
  position: relative;
}

.ser{
  display: flex;
  background-color: white;
  width: 100%;
  height: auto;
  margin-top: -30px;
  border-radius: 20px;
  padding: auto;
  
}

.bou p{
  background-color: #306EFF;
  height: 20px;
  width: 100px;
  margin-left: 140px;
  margin-top: 20px;
  border-radius: 20px;
}

.bou p{
  color:#306EFF;
  position: ;
}

.bgh3{
  background-color: #1E90FF;
  height: 40px;
  width: 200px;
  margin-left: 90px;
  border-radius: 20px;
   box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
  
}

.bou h3{
  display: flex;
  margin-top: 100px;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-left: 18px;
}

.container{
  display: flex;
  background-color: #FEFCFF;
  width: 350px;
  height: 170px;
  margin-left: 17px;
  margin-top: 260px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
  
}

.hari{
  background-color: #306EFF;
  height: 35px;
  width: 100px;
  margin-top: -35px;
  margin-left: 10px;
  border-radius: 20px;
}

.hari h1{
  color: white;
  font-size: 20px;
  margin-top: 7px;
  margin-left: 20px;
}

.jed{
  margin-left: -80px;
  margin-top: 20px;
}

.jed p{
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.container2{
  display: flex;
  background-color: #FEFCFF;
  width: 350px;
  height: 170px;
  margin-left: 17px;
  margin-top: 500px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
 
}

.hari2{
   background-color: #306EFF;
   height: 35px;
   width: 100px;
   margin-top: -35px;
   margin-left: 10px;
   border-radius: 20px;
   }
   
.hari2 h1{
  color: white;
  font-size: 20px;
  margin-top: 7px;
  margin-left: 13px;
}

.container3{
  display: flex;
  background-color: #FEFCFF;
  width: 350px;
  height: 170px;
  margin-left: 17px;
  margin-top: 750px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
 
}

.hari3{
   background-color: #306EFF;
   height: 35px;
   width: 100px;
   margin-top: -35px;
   margin-left: 10px;
   border-radius: 20px;
   }
   
.hari3 h1{
  color: white;
  font-size: 20px;
  margin-top: 7px;
  margin-left: 20px;
}

.container4{
  display: flex;
  background-color: #FEFCFF;
  width: 350px;
  height: 170px;
  margin-left: 17px;
  margin-top: 1000px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
 
}

.hari4{
   background-color: #306EFF;
   height: 35px;
   width: 100px;
   margin-top: -35px;
   margin-left: 10px;
   border-radius: 20px;
   }
   
.hari4 h1{
  color: white;
  font-size: 20px;
  margin-top: 7px;
  margin-left: 13px;
}


.navigasi{
  display: flex;
  margin-top: 1150px;
  background-color: #1E90FF;
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

.pic h1{
  margin-top: 10px;
  margin-left: 80px;
  color: white;
  position: absolute;
}


.piket{
  margin-left: -30px;
  margin-top: 70px;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
 
}

.wrapper li{
  margin: 50px;
  background-color:  #306EFF;;
  width: 120px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
 
}

.wrapper li a{
  display: flex;
  font-size: 23px;
  font-weight: bold;
  color: white;
  margin-top: 11px;
  margin-left: 22px;
}

.piket1{
  display: flex;
  margin-left: -400px;
  margin-top: 180px;
}

.wrapper1{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
 
}

.wrapper1 li{
  margin: 30px;
  background-color:  #306EFF;;
  width: 120px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
 
}

.wrapper1 li a{
  display: flex;
  font-size: 23px;
  font-weight: bold;
  color: white;
  margin-top: 11px;
  margin-left: 22px;
}

.piket2{
  display: flex;
  margin-left: -270px;
  margin-top: 270px;
}
